<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantinas Carvalho - {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/icons/logo.png') }}" />
    {% block head %}{% endblock %}
</head>
<body>
    <header class="header-superior">
        <div id="logo-container">
            <img src="{{ url_for('static', filename='assets/icons/logo.png') }}" id="logo" alt="Logo Cantinas Carvalho"/>
        </div>
        <label class="theme-toggle">
            <input type="checkbox" id="theme-switch" />
            <span class="slider"></span>
        </label>
    </header>

    <nav class="container-pages">
        <div class="container-pages-links" id="nav-links">
            <a href="{{ url_for('produtos') }}" class="pages-links">Produtos</a>
            <a href="{{ url_for('pedidos') }}" class="pages-links">Pedidos</a>
            <a href="{{ url_for('relatorios') }}" class="pages-links">Relatórios</a>
            <a href="{{ url_for('usuarios') }}" class="pages-links">Usuários</a>
        </div>

        <button class="hamburger" id="menu-toggle" aria-label="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>

    <div class="linha-decorativa"></div>

    {% block content %}{% endblock %} {% block scripts %} {% endblock %}

    <script>
        const hamburger = document.querySelector('.hamburger');
        const menuLinks = document.querySelector('.container-pages-links');

        hamburger.addEventListener('click', () => {
        hamburger.classList.toggle('active');
        menuLinks.classList.toggle('active');
        });
    </script>
</body>
</html>